/*******************************
********Estilos Comunes*********
*******************************/

/*
Escala de fuentes
4.236em
2.618em
1.618em
1em
0.618em
0.382em
0.236em
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

* , *:before , *:after {
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}

img {
  max-width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 999;
}

#menuPhone {
  display:none;
}

#wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

*, body {
  padding: 0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.618em;
}

h1, h2 {
  font-family:Montserrat;
  font-size: 2.618em;
  color: #21b8c9;
}

h3 {
  font-size: 1.618;
}
/*******************************
*************Header*************
*******************************/
header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position:relative
}

#header__image {
  height: 100vh;
  width: 50%;
  background-image: -webkit-gradient(linear,left top, right top,from(rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.1)), to(rgb(255, 255, 255))), url("../Assets/Imagenes/Capa_8.jpg");
  background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%, rgb(255, 255, 255) 100%), url("../Assets/Imagenes/Capa_8.jpg");
  background-image: -o-linear-gradient(left,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%, rgb(255, 255, 255) 100%), url("../Assets/Imagenes/Capa_8.jpg");
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%, rgb(255, 255, 255) 100%), url("../Assets/Imagenes/Capa_8.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px;
}

  #header__image img {
    width: 6.25em;
  }

#header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#imgHeader {
  display:none;
}

  #header__text * {
    margin-bottom: 40px;
  }

  #header__text h1 {
    color: #2cbacb;
  }

  #imgHeader2 {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  #side__social {
    width: 3em;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position:absolute;
    bottom:0;
    right: 0;
    background: #21b8c9;
  }

  #side__social i {
    font-size:1.5em;
    color: white;
    margin: .7em 0;
  }


/*******************************
*************NavBar*************
*******************************/

#navBar {
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color:#21b8c9;
}

  #navBar img {
    height: 50px;
    padding-left: 10px;
  }

  #navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

    #navBar li {
      padding-right: 10px; 
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      list-style-type: none;
      text-align: center;
      color:#fff;
    }

    #navBar li:hover {
      background-color: #21b8c9;
      color: #3b3b3b;
      font-weight: bold
    }

    #navBar a {
      text-decoration: none;
      color: inherit;
    }

    #CTAOd {
      padding-right: 10px; 
      padding-left: 10px;
      background-color: #21b8c9;
      color:#3b3b3b;
    }

/*******************************
********Mision y Vision*********
*******************************/

#misVis {
  background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(22,22,22, 1)),  to(rgba(22,22,22, .6))), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: -webkit-linear-gradient(bottom , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: -o-linear-gradient(bottom , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: linear-gradient(to top , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-size: cover;
  background-position: center center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:80px 20px;
}

  #misVis > * {
    padding: 50px 40px 40px 40px;
  }

  #mision{
    text-align: right;
  }

  #misVis p {
    color: white;
  }

/*******************************
********Especialidades**********
*******************************/
#especialidades {
  text-align: center;
  padding: 80px 20px;
}

.especialidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  text-align: left;
}

.especialidad__imagen{
  width:50%;
}

.especialidad__imagen img{
  width:60%;
  border-radius: 20px;
}

.especialidad__texto{
  width:50%;
  text-align: left
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

/*******************************
************Formulario***********
*******************************/
#formulario {
  background-color: #21b8c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  #imgFormulario {
    width:50%;
    background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(22,22,22, .8)),  to(rgba(22,22,22, .2))), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: -webkit-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: -o-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: linear-gradient(to top , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-position: center center;
    background-size: cover;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    color:white;
    text-align: center;
  }

    #imgFormulario img{
      width:40%;
      padding-bottom: 50px;
    }

  #textoFormulario {
    width: 50%;
    color:white;
    text-align: center;
    padding:  100px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }


  #textoFormulario input {
    width: 100%;
  }


  #textoFormulario form {
    width: 100%;
    text-align: left;
    padding: 0 15% 0 15%;
  }

  #textoFormulario #phone {
    width: 50%;
  }

  #textoFormulario div {
    margin: 1em 0 1em 0;
  }

  #textoFormulario textarea {
    width:100%;
    height: 200px;
  }


    #textoFormulario h2{
      color:white;
      margin-bottom: 1em;
    }

  .btn {
      width: 170px;
      height: 40px;
      background-color: #3b3b3b;
      border-radius: 5px;
      border: none;
      color:#fff;
      -ms-flex-item-align: start;
          align-self: flex-start;
    }

/*******************************
************Opiniones***********
*******************************/

#opiniones {
  background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(250,250,250, .8)),  to(rgba(250,250,250, .2))), url("../Assets/Fotos/opiniones.jpg");
  background-image: -webkit-linear-gradient(bottom , rgba(250,250,250, .8),  rgba(250,250,250, .2)), url("../Assets/Fotos/opiniones.jpg");
  background-image: -o-linear-gradient(bottom , rgba(250,250,250, .8),  rgba(250,250,250, .2)), url("../Assets/Fotos/opiniones.jpg");
  background-image: linear-gradient(to top , rgba(250,250,250, .8),  rgba(250,250,250, .2)), url("../Assets/Fotos/opiniones.jpg");
  background-size: cover;
  padding: 80px 20px;
  text-align: center;
}

#opiniones h2{
  color: #3b3b3b;
}
  

#cajon__pacientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 20px 20px 20px;
}

 .paciente {
   text-align: center;
   padding:20px;
 }

 .paciente img {
   border-radius: 50%;
   width: 40%;
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
   -webkit-filter: grayscale(100%);
           filter: grayscale(100%);
 }

 .paciente img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

 .paciente p, .paciente cite {
   font-size: .9em
 }

/*******************************
*************Contacto************
*******************************/

#contacto {
  background-color: #3b3b3b;
  color:#fff;
  text-align: center;
  padding:20px;
}

#cajon__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cajon__contacto div {
  width:33.3%;
  text-align: center;
  padding: 20px;
}

#cajon__contacto a {
  color:#fff;
  font-size: 2em;
  margin: 10px;
}

#cajon__contacto span {
  font-weight: bold;
  color: #21b8c9
}

/*******************************
*************Media************
*******************************/
/*******************************
*************Queries************
*******************************/

@media (max-width:600px) {
#menuPhone {
  display:block;
  background-color: #21b8c9;
  color:#fff;
  text-align: center;
  padding: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end
}

*, body {
  font-size: 95%;
}

h1, h2 {
    font-size: 1.618em
  }

#side__social {
  display: none
}

  #misVis, #especialidades, #textoFormulario, #opiniones, #cajon__pacientes, #header__text {
    padding: 20px 10px
  }
/*******************************
*************Header*************
*******************************/
  #header__image {
    display:none;
  }

  #header__text {
    background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(22,22,22, .8)),  to(rgba(22,22,22, .2))), url("../Assets/Imagenes/Capa_8.jpg");
    background-image: -webkit-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Imagenes/Capa_8.jpg");
    background-image: -o-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Imagenes/Capa_8.jpg");
    background-image: linear-gradient(to top , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Imagenes/Capa_8.jpg");
    width: 100%;
  }



  #header__text p {
    display:none;
  }

  #header__text * {
    margin-bottom: 0;
  }
  
    #imgHeader {
      display:block;
      width:150px;
      height: 150px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }

    
    #imgHeader2 {
      display:none;
    }

  

/*******************************
*************NavBar*************
*******************************/

  #navBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center
  }

  #navBar ul {
    display: none;
  }

  #navBar img {
    height: 40px;
    padding-left: 10
  }

  #navBar p {
    margin-left:10px;
    margin-right:10px;
  }

/*******************************
********Mision y Vision*********
*******************************/

#misVis {
  background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(22,22,22, 1)),  to(rgba(22,22,22, .6))), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: -webkit-linear-gradient(bottom , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: -o-linear-gradient(bottom , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-image: linear-gradient(to top , rgba(22,22,22, 1),  rgba(22,22,22, .6)), url("../Assets/Fotos/IMG_8356.jpg");
  background-size: cover;
  background-position: center center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;

}
  #mision{
    text-align: center;
  }

/*******************************
********Especialidades**********
*******************************/

  .especialidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .especialidad__imagen{
    width:100%
  }

  .especialidad__imagen img{
    width:100%;
    margin-bottom:1em;
  }

  .especialidad__texto{
    width:100%;
    text-align: center;
  }

/*******************************
************Formulario***********
*******************************/
  #imgFormulario {
    display:none;
  }
  
  #textoFormulario {
    width: 100%;
    background-image: -webkit-gradient(linear , left bottom, left top , from(rgba(22,22,22, .8)),  to(rgba(22,22,22, .2))), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: -webkit-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: -o-linear-gradient(bottom , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-image: linear-gradient(to top , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-position: center center;
    background-size: cover;
  }

  #textoFormulario h2 {
    margin-bottom: 0;
  }

/*******************************
************Opiniones***********
*******************************/
#opiniones {
  background-image: -webkit-gradient(linear , left bottom, left top , from(#fff), to(#fff) );
  background-image: -webkit-linear-gradient(bottom , #fff, #fff );
  background-image: -o-linear-gradient(bottom , #fff, #fff );
  background-image: linear-gradient(to top , #fff, #fff )
}

#opiniones h2{
  color: #21b8c9;
}

#cajon__pacientes {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  background-color: #fff
}

.paciente img {
  width: 60%;
}

/*******************************
*************Contacto************
*******************************/
#cajon__contacto {
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
     -ms-flex-direction:column;
         flex-direction:column;
 
}

#cajon__contacto div {
  width:100%;
}
}