/*******************************
********Estilos Comunes*********
*******************************/
html {
  box-sizing: border-box;
}


* , *:before , *:after {
  box-sizing:inherit;
}

img {
  max-width: 100%;
}

*, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.618em;
}

h2 {
  font-family:Montserrat;
  font-size: 2.618em;
  line-height: 2.618em;;
  color: #21b8c9;
}

h3 {
  font-size: 1.618;
}
/*******************************
*************Header*************
*******************************/

header {
  width: 100%;
  height: 100vh;
  display: flex;
}

#header__image {
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%, rgb(255, 255, 255) 100%), url("../Assets/Imagenes/Capa_8.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px;
}

  #header__image img {
    width: 6.25em;
  }

#header__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 80px;
  justify-content: center;
  text-align: center;
}

  #header__text * {
    margin-bottom: 40px;
  }

  #header__text h1 {
    font-size: 4.236em;
    color: #2cbacb;
  }

  #header__text img {
    width: 50%;
    align-self: center;
  }

  #side__social {
    width: 3em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
    bottom:0;
    right: 0;
    background: #21b8c9;
  }

  #side__social i {
    font-size:1.5em;
    color: white;
    margin: .7em 0;
  }


/*******************************
*************NavBar*************
*******************************/

#navBar {
  position: -webkit-sticky;
  position:sticky;
  height: 70px;
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#21b8c9;
}

  #navBar img {
    height: 60px;
    padding-left: 10px;
  }

  #navBar ul {
    display: flex;
  }

    #navBar li {
      margin-left: 1em;
      list-style-type: none;
    }

    #navBar a {
      text-decoration: none;
      color: white;
    }

    a#CTAOd {
      padding:26px 10px 25px 10px;
      background-color: #21b8c9;
      color:#3b3b3b;
    }

/*******************************
********Mision y Vision*********
*******************************/

#misVis {
  background-image: linear-gradient(to top , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_8356.jpg");
  background-size: cover;
  background-position: center center;
  display:flex;
}

  #misVis > * {
    padding: 0 40px 40px 40px;
  }

  #mision{
    text-align: right;
  }

  #misVis p {
    color: white;
  }

/*******************************
********Especialidades**********
*******************************/
#especialidades {
  text-align: center;
  padding: 30px;
}

.especialidad {
  display: flex;
  align-items: center;
  padding: 30px;
  text-align: left;
}

.especialidad__imagen{
  width:50%;
}

.especialidad__imagen img{
  width:60%;
  border-radius: 20px;
}

.especialidad__texto{
  width:50%;
  text-align: left
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

/*******************************
************Formulari***********
*******************************/

#formulario {
  background-color: #21b8c9;
  display: flex;
  height:100vh;
}

  #imgFormulario {
    width:50%;
    background-image: linear-gradient(to top , rgba(22,22,22, .8),  rgba(22,22,22, .2)), url("../Assets/Fotos/IMG_7278.jpg");
    background-position: center center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color:white;
    text-align: center;
  }

    #imgFormulario img{
      width:40%;
      padding-bottom: 50px;
    }

  #textoFormulario {
    width: 50%;
    color:white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  #textoFormulario input {
    width: 100%;
  }


  #textoFormulario form {
    width: 100%;
    text-align: left;
    padding: 0 15% 0 15%;
  }

  #textoFormulario #phone {
    width: 50%;
  }

  #textoFormulario div {
    margin: 1em 0 1em 0;
  }

  #textoFormulario textarea {
    width:100%;
    height: 200px;
  }


    #textoFormulario h2{
      color:white;
      margin-bottom: 1.5em;
    }

  .btn {
      width: 170px;
      height: 40px;
      background-color: #3b3b3b;
      border-radius: 5px;
      border: none;
      color:#fff;
      align-self: flex-start;
    }

/*******************************
************Opiniones***********
*******************************/

#opiniones {
  padding: 20px;
  text-align: center;
}

#cajon__pacientes {
  display: flex;
  padding: 20px;
}

 .paciente {
   text-align: center;
   padding:20px;
 }

 .paciente img {
   border-radius: 50%;
   width: 40%
 }

 .paciente p, .paciente cite {
   font-size: .9em
 }